body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif; }

#background {
  background-image: url("../../images/hawaiian-beach.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover; }

#title-nav {
  display: flex;
  justify-content: center;
  align-items: flex-end; }
  #title-nav h1 {
    background-color: rgba(48, 151, 245, 0.8);
    color: white;
    text-transform: uppercase;
    font-weight: normal;
    padding: 0 .75em;
    letter-spacing: .1em;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin-bottom: 0; }

.nav-container {
  margin: 0 auto; }
  .nav-container a {
    text-decoration: none;
    color: black; }
  .nav-container a:hover {
    color: #3097f5; }
  .nav-container ul {
    list-style-type: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: space-between;
    margin: 0; }
    .nav-container ul li {
      color: black;
      background-color: rgba(255, 255, 255, 0.85);
      text-transform: uppercase;
      padding: .5em 1.5em;
      margin: 0 .25em; }

.contentbox-header {
  padding: 1em 1em 0;
  text-transform: uppercase;
  font-weight: normal;
  border-bottom: .05em solid #1e7dc1;
  margin: 0 0 1em 0;
  display: inline-block;
  font-size: 3.5em;
  letter-spacing: .05em;
  font-family: "Amatic SC", cursive; }

.form-submit-button {
  background-color: #3097f5;
  text-transform: uppercase;
  color: white;
  font-size: 1.5em;
  letter-spacing: .25em;
  border: none;
  padding: .5em 1.5em;
  font-weight: 200;
  margin-bottom: 1.5em; }

.contentbox-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.5em 1.5em; }
  .contentbox-wrapper .contentbox {
    min-height: 80vh;
    min-width: 50%;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.85); }

.new-item-container {
  margin: 0 auto;
  text-align: center; }
  .new-item-container form {
    max-width: 60%;
    margin: 0 auto; }
    .new-item-container form .form-row {
      margin: 1em 0; }
      .new-item-container form .form-row label {
        margin: 0 .5em; }
      .new-item-container form .form-row input {
        border: none; }

.calculator-container {
  margin: 0 auto;
  text-align: center; }
  .calculator-container .calculator-content {
    font-weight: 300; }
    .calculator-container .calculator-content h3 {
      font-size: 2em;
      margin: 0; }
    .calculator-container .calculator-content .nutrition-facts ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      margin: 0; }
      .calculator-container .calculator-content .nutrition-facts ul li {
        margin: 0 2em; }
    .calculator-container .calculator-content form {
      max-width: 60%;
      margin: 0 auto 2em; }
      .calculator-container .calculator-content form .form-row {
        margin: 1em 0; }
        .calculator-container .calculator-content form .form-row label {
          margin: 0 .5em;
          display: inline-block;
          text-align: right; }
        .calculator-container .calculator-content form .form-row input {
          border: none; }

/*# sourceMappingURL=main.css.map */
